
/*Add Query Button*/
button:focus {outline:0;}
.ruleGroup-addGroup{

  margin-left: -50px;
  display: inline-block;
  margin-right:  4em;
  background-color: #3399ff;
  border:1px solid #004d99;
  color: white;
  width: 9em;
  height: 3em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  pointer-events: all;
  margin-bottom: 0.3em;
}
 button.ruleGroup-addRule{
  display: none;
}
/*Combinator display:none*/
 select.ruleGroup-combinators {
  display: none;
}

#root > div > div > div > div.query > div > div > div:not(:nth-child(3)) > button.ruleGroup-addGroup{
    display: none;
}
/*Delete Button*/
 button.ruleGroup-remove,#root > div > div > div > div.query > div > div > div:not(:nth-child(3)) > div > button{
    margin-right:  4em;
    background-color: #cc0000;
    border:1px solid #990000;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 1.3em;
    width: 9em;
    height: 3em;

}
/*Add Criteria Button*/
#root > div > div > div > div.query > div > div > div:not(:nth-child(3)) > button.ruleGroup-addRule{
    background-color: #5cb85c;
    border:1px solid #46a046;
    color: white;
    width: 9em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    margin-left: -5em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-right: -0.8em;
}


div:nth-child(5) > select.rule-operators{
  display: none;
}
div.queryBuilder > div > div:nth-child(4) > div:nth-child(5){
  margin-left: 4.5em;
}
div.queryBuilder > div > div:nth-child(5) > div:nth-child(5){
  margin-left: 4.5em;
}
div.queryBuilder > div > div:nth-child(6) > div:nth-child(5){
  margin-left: 4.5em;
}
div.queryBuilder > div > div:nth-child(7) > div:nth-child(5){
  margin-left: 4.5em;
}
.rule{
   display: flex;
   flex-direction: row;
   margin-right:  6.6em;
   justify-content: center;

}
.rule>select.rule-operators{
  order: 1;
  margin-right: 0.3em;
  background-color: #e68a00;
  color: white;
  font-size: 14px;
  border: none;
  height: 30px;
  padding: 5px;

}
.rule>select.rule-fields{
  order: 2;
  height: 30px;
  margin-right: 0.3em;
}
.rule>input{
  order: 3;
  height: 30px;
  margin-right: -0.4em;

}
.rule>button.rule-remove{
  order: 4;
  height: 30px;

}

#root > div > div > div > div.query > div > div > div:not(:nth-child(3)) > div:not(:nth-child(4)){
  border: none;
}
.rule,
.ruleGroup .ruleGroup {
  margin-top: 0.5rem;
  border: 0.1em solid black;
  margin-left: 0.5rem;
  background-color:#b3d1ff;
  margin-bottom: 1em;
  border-radius: 5px;

 }

.ruleGroup {
  padding: 0.5rem;
  background:  #99c2ff;

}
#submitButton{
  margin-top: 2em;
  margin-left: -50px;
  display: inline-block;
  margin-right:  4em;
  background-color: #3399ff;
  border:1px solid #004d99;
  color: white;
  width: 9em;
  height: 2.8em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 2em;
}
#root > div > div > div > div.query > div > div > div:not(:nth-child(3)) > div > button{
  width: 6em;
  height: 30px;
  padding: 3px 8px;

}
.deleteFileButton{
  margin-right:  4em;
  background-color: #cc0000;
  border:1px solid #990000;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  width: 9em;
  height: 3em;
}
.addFileButton {
  margin-top: 1em;
  display: inline-block;
  margin-right:  0.5em;
  background-color: #3399ff;
  border:1px solid #004d99;
  color: white;
  width: 9em;
  height: 3em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  pointer-events: all;
  margin-bottom: 1em;
  margin-left: -5em;

}
.or_tag{
  margin-right: 4.5em;
  font-weight: bold;
}
.inputs{
background-color:#99c2ff;
padding: 0.3rem;
}
.selectFilePart{
  margin-top: 0.5rem;
  border: 0.1em solid black;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: -10em;
  background-color:#b3d1ff;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em;

}
