.react-bs-table table td,
.react-bs-table table th {
  overflow: hidden;
  white-space: unset;
  text-overflow: ellipsis;

}
.tr-function-even-number{
  background-color: #cccccc;
}

.test-venn-diagram{
width: 100%;
height: 100%;


}

#pathwayButton,#domainButton,#molecularButton,#biologicalButton{
  display: inline-block;
  margin-top: 0.3em;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  width: 130px;
  margin-right: 5px;

}
.myClass ul > li > a:hover {
    background-color: #b8e0b8;
}

/* Active tab */
.myClass ul > li.active > a,
.myClass ul > li.active > a:hover,
.myClass ul > li.active > a:focus {
    background-color: #5cb85c;
    color: white;
}


.ResultPage{
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;



}
.right{
  width:40%;


}
.left{
  width: 60%;

}
.leftbutton{
  margin-top: 100px;
  border: 0px;

}

.tabs{
  width: 100px;
  height: 100px;
}

#set1_a_venn{
  background-color:#a8d2f0;
  width: 80px;
  height: 30px;
  margin-right: 5px;
  margin-top: 10px;
}
#set1_a_upset_label{
  margin-top: 0.1em;
}
.btn-default{
  margin-right: 20em;
}
.add_query, .exportTSV{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  width: 125px;
  margin-right: 5px;
}


.button_top{
  position: absolute;
    right: 0px;
}

  input[type='checkbox'].set1_a_upset {
    -webkit-appearance:none;
    width:15em;
    height:2.5em;
    margin-left: 3em;
    margin-bottom: -0.9em;
    margin-right: 0.49em;
    outline: none;
    position: relative;




  }

  input[type='checkbox']:checked {
    border:2px solid #cc0000;


  }

  .btnd:active,
  .btnd:focus,
  .btnd.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }


#uncontrolled-tab-example-tab-1,#uncontrolled-tab-example-tab-2,#uncontrolled-tab-example-tab-3,#uncontrolled-tab-example-tab-4,#uncontrolled-tab-example-tab-5{
  color: black;
  font-weight: bold;
}

#pageDropDown{
  margin-right: 30em;
}


div#upset {
    width: 260px;
    margin: 0px auto;
    z-index: -1;
    margin-left: -6em;
    position: absolute;
    display: inline-block;
    margin-top: 1.9em;
}

line {
  stroke: #cc0000;
  stroke-width: 4px;
}

circle {
  stroke: #cc0000;
  stroke-width: 3px;
  margin: 5px;
}

circle.assigned {
  fill: #cc0000;
}

circle.not-assigned {
  fill: white;
}
.query1_preview,.query2_preview,.query3_preview,.query4_preview{
    font-weight: bold;
    font-size: 16px;
    height: auto;
    text-align: left;

}
.query1_preview{
    background-color: #a8d2f0 ;

}
.query2_preview{
    background-color:#ffd6b3;

}
.query3_preview{
  background-color: #9be49b;
}
.query4_preview{
  background-color: #ff6666;
}
